<a href="https://colab.research.google.com/github/NUKALAMOHANSAIGUPTA/DATAMINING/blob/main/ADM_assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
file_path = '/content/customer_sales_data.csv'
df = pd.read_csv(file_path)

In [3]:
df = pd.get_dummies(df, columns=['Product_Category', 'Region'])

In [4]:
df['Customer_Gender'] = df['Customer_Gender'].map({'Male': 1, 'Female': 2})

In [5]:
df['Sales_Profit'] = df['Sales_Amount'] * 0.25

In [6]:
grouped_sales = df.groupby('Product_Category_Electronics').agg(
    Total_Sales=('Sales_Amount', 'sum'),
    Avg_Quantity_Sold=('Quantity_Sold', 'mean')
).reset_index()

In [7]:
pivot_sales = df.pivot_table(values='Sales_Amount', index='Region_North', columns='Product_Category_Electronics', aggfunc='sum', fill_value=0)

In [8]:
print("Encoded Data:")
print(df.head())
print("\nGrouped Sales Data:")
print(grouped_sales)
print("\nPivot Table:")
print(pivot_sales)

Encoded Data:
   Sales_ID  Sales_Amount  Quantity_Sold  Sales_Date  Customer_Age  \
0         1        654.82              5  2023-03-25            44
1         2        624.38              5  2023-03-24            37
2         3        427.01              6  2023-03-11            53
3         4        658.72              4  2023-03-19            42
4         5        272.72              8  2023-03-23            42

   Customer_Gender  Product_Category_Clothing  Product_Category_Electronics  \
0                2                      False                         False
1                2                      False                         False
2                2                      False                          True
3                1                       True                         False
4                2                       True                         False

   Product_Category_Home Appliances  Region_East  Region_North  Region_South  \
0                              True        False         False          True
1                              True         True         False         False
2                             False        False         False         False
3                             False         True         False         False
4                             False        False          True         False

   Region_West  Sales_Profit
0        False      163.7050
1        False      156.0950
2         True      106.7525
3        False      164.6800
4        False       68.1800

Grouped Sales Data:
   Product_Category_Electronics  Total_Sales  Avg_Quantity_Sold
0                         False     32529.67           5.341772
1                          True      8404.22           6.428571

Pivot Table:
Product_Category_Electronics     False    True
Region_North
False                         22490.09  7069.42
True                          10039.58  1334.80